@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body, html, :root {
    font-family : "Work Sans", sans-serif;
    margin : 0;
    padding : 0;
    height : 100%;
}
#container { 
    height : 100%;
    width : 100%;
    display : grid;
    grid-template-columns: 1fr 4fr;
}
.right-side {
    display : grid;
    grid-template-rows : 5rem auto;
}
.right-header {
    display : flex;
    align-items: center;
    gap : 0.5rem;
    height : 5rem;
    background-color: lightblue;
}
#todo-input {
    font-size : 2rem;
}
#high-priority-button, 
#create-todo-button, 
.delete-check-box, 
.delete-todo-button {
    /* delete default styling of buttons/checkboxes */
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: contain;
    background-repeat: no-repeat; 
    width: 30px; 
    height: 30px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle; 
    line-height: 0;
}

#high-priority-button {
    background-image: url('svg/alert-circle.svg');

}
#high-priority-button:checked { 
    background-image: url('svg/alert-circle-red.svg');
}
#list-content {
    display : flex;
    flex-direction: column;
    padding-top : 1rem;
    padding-left : 1rem;

}
.new-todo {
    display : flex;
    gap : 0.5rem;

}
#create-todo-button {
    background-image: url('svg/plus-square.svg');
}
.delete-check-box {
    background-image: url('svg/square.svg');
}
.delete-check-box:hover {
    background-image: url('svg/square-green.svg');
}
.delete-todo-button {
    background-image: url('svg/x-square.svg');
}
.delete-todo-button:hover {
    background-image: url('svg/x-square-red.svg');
}
.new-todo.completed {
    text-decoration : line-through;
}
.delete-check-box.check-box-marked {
    background-image: url('svg/check-square.svg');
}
.high-priority { 
    font-weight : 600;
}
