#container { 
    display : grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.completed {
    text-decoration : line-through;
}
.high-priority { 
    background-color: lightpink;
}